<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{index}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>index</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
       <div layout:fragment="content">
            <form class="form-horizontal" data-th-action= "@{/product/post}" data-th-object="${product}" method="post" enctype="multipart/form-data" >
                <div class="form-group">
                  <label class="control-label col-sm-2" for="email">Name:</label>
                  <div class="col-sm-5">
                    <input type="text" th:field="*{name}" class="form-control" id="email" placeholder="Enter Name">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="pwd">Barcode:</label>
                  <div class="col-sm-5">
                    <input type="text"  data-th-field="*{barcode}" class="form-control" id="pwd" placeholder="Enter Barcode">
                  </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Unit Price:</label>
                    <div class="col-sm-5">
                      <input type="text"  data-th-field="*{unitPrice}" class="form-control" id="pwd" placeholder="Enter Unit Price">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Sell Price:</label>
                    <div class="col-sm-5">
                      <input type="text" data-th-field="*{sellPrice}" class="form-control" id="pwd" placeholder="Enter Sell Price">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Photo:</label>
                    <div class="col-sm-5">
                      <input type="file" name="file" class="form-control">
                    </div>
                  </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a data-th-href= "@{/product/index}">Back</a>
                  </div>
                </div>
              </form>
        </div>

    </body>
</html>